#Navflex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logozonamates{
    width: 100px;
    height: 100px;
}
#iconHamb{
    padding: 2px;
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    padding: .5rem;
}
.Navbar.abierto {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 3.5rem;
    transition: left .3s ease-in-out;
  }

  /* Ocultar el menú inicialmente */
  .Navbar {
    display: none;
  }

  .pathname{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    cursor: pointer;
  }


  @media (min-width: 750px){
   #iconHamb{
    display: none;
   }
   #Navflex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
  .Navbar{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
}
@media (min-width: 1300px) {
  .pathname{
    font-size: 20px;
    cursor:pointer;
  }
}